<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3> {{user}}'s bookings </h3>
    <ul>
        {% for book in bookings %}
        <li style="display: block;">
            {{book.venue_name}} {{book.show_name}} {{book.time}}
        </li>
        <br><br>
        {% endfor %}
    </ul>
</body>
</html>