<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3> {{ admin }}'s Dashboard </h3>
    <div style="position: absolute; left: 1000px; top: 7px">
        <a href=""> summary </a> | <a href="/admin_logout"> logout </a>
    </div>
    <p> Editing a venue </p>
    <form method="post" style="margin-left: 400px;">
        <label for="name"> Venue Name </label>
        <input name="v_name" type="text" id="name" placeholder="{{ven.venue_name}}"/>
        
        <br><br>

        <label for="location"> Location </label>
        <input name="loc" type="text" id="location" placeholder="{{ven.location}}"/>
        
        <br><br>

        <label for="capacity"> Capacity </label>
        <input name="cap" type="number" id="capacity" placeholder="{{ven.capacity}}"/>

        <br><br>
        
        <input type="submit" value="Save"/>
    </form>
</body>
</html>