<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="border: 3px solid red;  margin-top: 300px;">
        <h1 style="color: blue; font-size: 5em; text-align: center;"> Ticket Show </h1>
        <a href="/admin_login" style="font-size: 2em; margin-left: 500px;"> Admin login </a> <br><br>
        <a href="/user_login" style="font-size: 2em; margin-left: 500px;"> User login </a>
    </div>
</body>
</html>