<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p> {{user}}'s Dashboard </p>
    <form action="" method="post">
        <label for="tags"> Search Shows by Tags </label>
        <input type="text" id="tags" name="tags">

        <br><br>

        <label for="rating"> Search Shows by Rating </label>
        <input type="number" id="rating" name="rating">

        <br><br>

        <input type="submit" value="Search">
    </form>
</body>
</html>