<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 style="text-align: center;"> User login </h2>
    <form action="/user_login" method="post" style="margin-left: 450px; border: 1px solid; margin-right: 450px;">
        <label for="username"> Username </label><br>
        <input name='username' type="text" id="username"/>

        <br><br>

        <label for="password"> Password </label><br>
        <input name='password' type="number" id="password"/>
        
        <br><br>
        
        <input type="submit" value="Login"/>
    </form>
    <form action="/user_registration" method="post" style="margin-left: 450px; border: 1px solid; margin-right: 450px;">
        <label for="username"> Username </label><br>
        <input name='username' type="text" id="username"/>

        <br><br>

        <label for="password"> Password </label><br>
        <input name='password' type="number" id="password"/>
        
        <br><br>
        
        <input type="submit" value="Register"/>
    </form>
</body>
</html>